table{
    border: 2px solid #0a0a0b;
    width: 400px;
    height: 400px;
}
td{
    border: 2px solid #0a0a0b;
}
.td-1{
    background: #fff001;
    height: 40px;
}
.td-2{
    background: #0125ff;
}
.td-3{
    width: 47px;
    height: 50px;
}
.td-4{
    height: 20px;
}
.blek{
    background: #0a0a0b;
    width: 5px;
    height: 25px;
}
.blek-2{
    background: #0a0a0b;
    height: 35px;
}
.red{
    background: #f51808;
}
