body {
    background-image: url(../img/background.png);
}

.box {
    margin: 0 auto;
    height: 990px;
    width: 1000px;
    background: white;
    box-shadow: 0 8px 11px #031d28; 
}
header {
    height: 450px;
}
.logo {
    padding-top: 45px;
    padding-left: 45px;
    float: left;
}
a{
    text-decoration: none;
    color: #6eacc0;
    font-size: 12px;
}
.contacts{
    height: 110px;
    width: 631px;
    padding-right: 35px;
    padding-top: 15px;
    color: #6eacc0;
    text-align: right;
    float: left;
}
.contacts h1{
    padding: 10px 32px 10px;
    font-size: 12px;
    color: #41a1b9;
}
.contacts p{
    padding: 6px 30px 0;
    font-size: 12px;
}
.contries{
    margin-top: 20px;
    float: right;
}
.contries li {
    width: 67px;
    display: inline-block;
}
.contries a {
    padding-top: 2px;
    display: block;
    text-align: center;
    font-size: 10px;
    color: #128aa7;
}
.photo{
    position: absolute;
    top: 213px;
}

  /* MENU */

span{
    width: 1000px;
    position: absolute;
    top: 450px;
    display: block;
    background: #333333;
}
ul.nav li { /*меню горизонтальное*/
    height: 30px;
    float: left;
    list-style: none;
}
ul.nav li a {
    padding: 7px 35px 5px 45px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}
ul.nav { /*высота и ширина меню*/
    height: 30px;
    width: 1000px;
    box-shadow: 0 2px 0 0 #404040, 0 3px 0 0 #6e6e6e, 0 4px 0 0 #b3b3b3;
}
.nav a:after{
    content:"";
    margin-left: 10px;
    position: absolute;
    top: 40%;
    border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
}
 
/*Выпадающее меню*/
ul.nav li ul { /*вложенные пункты меню*/
    display: none;	
    box-shadow: 0 3px 2px 0 #555555, 0 4px 3px 0 #808080, 0 5px 4px 0 #bfbfbf;
} 
ul.nav li:hover {
    position: relative;
}
ul.nav li:hover ul {
    display: block;
    position: absolute;
    top: 30px;
}
ul.nav li ul li{
    padding-right: 15px;
    height: auto;
    width: 170px;
    background: #303030;
}
ul.nav li ul li a:after{
    border: none;
    
}
.left-blok{
    margin: 30px 0 0;
    width: 200px;
    height: 510px;
    padding-left: 5px;
    float: left;
    text-align: center;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
}
.left-blok h1{
    padding: 10px 10px;
    font-size: 18px;
    color: #424c43;
}
.left-blok p{
    padding: 5px;
    font-size: 14px;
    color: #424c43;
}
.right-blok{
    margin: 30px 0 0;
    width: 200px;
    height: 510px;
    padding-left: 5px;
    float: right;
    text-align: center;
    background: #edeef0;
    border-left: 1px solid #c7cacf;
}
.right-blok h1{
    padding: 10px 10px;
    font-size: 18px;
    color: #424c43;
}
.right-blok p{
    padding: 5px;
    font-size: 14px;
    color: #424c43;
}
.copiring{
    padding: 15px;
    text-align: center;
    font-size: 12px;
    color: #cee3ec;
}